@import 'variables';
@import 'reset';
@import 'mixin';

body {
    background: #d8d8d8;
    font-family: $font-thin;
    color: #000000;
    margin: 1% 8%;

    nav {
        background: #d8d8d8;
        border: 1px solid #333333;
        border-radius: 5px;
        padding: 0.5em;
        color: #000000;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;

        .navigations {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: baseline;
            list-style-type: none;

            li {
                @include transition(0.4s ease);
                display: inline;
                margin: 0 0.4em;

                a {
                    @include transition(0.4s ease);
                    font-family: $font-medium;
                    font-size: 18px;
                    color: #000000;
                    text-decoration: none;
                    opacity: 0.8;

                    i {
                        font-size: 16px;
                        margin-right: 0.1em;
                    }
                }

                &:hover {

                    a {
                        @include transition(0.4s ease);
                        color: #2b41a1;
                        opacity: 1;
                    }
                }
            }
        }

        .social-media {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: baseline;
            list-style-type: none;

            li {
                @include transition(0.4s ease);
                display: inline;
                margin: 0 0.5em;

                a {
                    @include transition(0.4s ease);
                    font-family: $font-medium;
                    font-size: 22px;
                    color: #2b41a1;
                    text-decoration: none;
                    opacity: 0.8;
                }

                &:hover {

                    a {
                        @include transition(0.4s ease);
                        opacity: 1;
                    }

                    hr {
                        @include transition(0.4s ease);
                        @include transform(scale(1, 1));
                    }
                }
            }
        }
    }

    header {
        background: #ffffff;
        border-radius: 5px;
        margin: 0.5em 0;
        padding: 2em;
        text-align: center;
        height: 6em;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
    }

    .header-navigations {
        background: #d8d8d8;
        border: 1px solid #333333;
        padding: 0.5em;
        color: #000000;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;

        ul {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            align-items: center;
            list-style-type: none;

            li {
                @include transition(0.4s ease);
                display: inline;
                margin: 0 0.4em;

                a {
                    @include transition(0.4s ease);
                    font-family: $font-medium;
                    font-size: 18px;
                    color: #000000;
                    text-decoration: none;
                    opacity: 0.8;

                    i {
                        font-size: 16px;
                        margin-right: 0.1em;
                    }
                }

                &:hover {

                    a {
                        @include transition(0.4s ease);
                        color: #2b41a1;
                        opacity: 1;
                    }
                }
            }
        }
    }

    main {
        border: 1px solid #333333;
        border-radius: 5px;
        margin: 3em 0 5em 0;
        padding: 0.5em;
        color: #000000;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;

        .quote {
            text-align: center;

            h1 {
                font-size: 35px;
            }

            span {
                font-family: $font-medium;
            }

            p {
                text-align: justify;
                font-size: 18px;
                margin: 1em 0 0 0;
            }
        }
    }

    .boxes1 {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        margin-top: 1em;

        div {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 5em;
            background: #2ed967;
            width: 10em;
            padding: 0.5em;
            color: #ffffff;
            border-radius: 7px;
            text-align: center;
            margin: 0 2em;

            a,
            h3 {
                color: #ffffff;
            }
        }
    }

    .boxes2 {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        margin-top: 1em;

        div {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 5em;
            background: #fe80ee;
            width: 10em;
            padding: 0.5em;
            color: #ffffff;
            border-radius: 7px;
            text-align: center;
            margin: 0 2em;

            a,
            h3 {
                color: #ffffff;
            }
        }
    }

    .boxes3 {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        margin-top: 1em;

        div {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 5em;
            background: #c38af3;
            width: 10em;
            padding: 0.5em;
            color: #ffffff;
            border-radius: 7px;
            text-align: center;
            margin: 0 2em;

            a,
            h3 {
                color: #ffffff;
            }
        }
    }

    .two-parted {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        align-items: center;
        margin: 5em 0 0 0;
        padding: 0.5em;
        border: 2px solid #2b41a1;
        border-radius: 5px;

        >section {
            background: #2ed967;
            text-align: center;
            padding: 0.4em;
            width: 48%;
            color: #000000;
        }

        a {
            background: #444444;
            font-family: $font-medium;
            color: #ffffff;
            padding: 0.4em;
            margin-top: 1em;
        }
    }

    .second-page-division {
        text-align: left;
        margin-top: 3em;
        margin-bottom: 1.5em;
    }

    .link-button {
        text-align: center;
        margin-top: 3em;

        a {
            font-family: $font-bold;
            color: #2b41a1;
            font-size: 35px;
        }
    }
}