@mixin transition($value) {
    transition: $value;
    -moz-transition: $value;
    -webkit-transition: $value;
    -ms-transition: $value;
    -o-transition: $value;
}

@mixin transform($value) {
    transform: $value;
    -moz-transform: $value;
    -webkit-transform: $value;
    -ms-transform: $value;
    -o-transform: $value;
}

@mixin filter($value) {
    filter: $value;
    -moz-filter: $value;
    -webkit-filter: $value;
    -ms-filter: $value;
    -o-filter: $value;
}